version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12.21
    branches:
      ignore:
        - typescript

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v2-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-{{ checksum "package.json" }}

      # check types
      - run: yarn lint
      # run tests!
      - run: yarn test
